<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF-udueOt_X_6Irc3bIkOsOWiLJubPspA</string>
	<key>GCM_SENDER_ID</key>
	<string>1096950170961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grad.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bloodchain-ace5f</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodchain-ace5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096950170961:ios:e86d8d1af306139abf7f70</string>
</dict>
</plist>